*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/appInsightsSettings.xml
/gradle/wrapper/gradle-wrapper.jar
/social-connect-2025-default-rtdb-export.json
